# Lists

In [1]:
mylist = [1,2,3]

In [2]:
mylist = ['string', 555, 5614]

In [3]:
len(mylist)

3

In [6]:
mylist = ['one', 'two', 'three']

In [7]:
mylist[0]

'one'

In [8]:
mylist[1:]

['two', 'three']

In [9]:
another_list = ['four', 'five']

In [10]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

this doesn't change the assignment, and both the list will have its own value.
it is used only for concatenation.
For changing the assignment, addition of list must be assigned to new variable.

In [11]:
mylist

['one', 'two', 'three']

In [12]:
another_list

['four', 'five']

In [35]:
new_list = mylist + another_list

In [36]:
new_list

['one', 'two', 'three', 'four', 'five']

In [37]:
new_list [0] = 786

In [38]:
new_list

[786, 'two', 'three', 'four', 'five']

In [39]:
new_list.append('SIX')                              # append adds to the list at the end

In [40]:
new_list

[786, 'two', 'three', 'four', 'five', 'SIX']

In [41]:
new_list.append('seven')

In [42]:
new_list

[786, 'two', 'three', 'four', 'five', 'SIX', 'seven']

In [43]:
new_list.pop()                                        # removes the last item from the list i.e., (-1) is applied by default, which is reverse indexing

'seven'

In [44]:
new_list

[786, 'two', 'three', 'four', 'five', 'SIX']

In [45]:
removed_or_popped_item = new_list.pop()             # this way, we can also save the popped result by assigning it to a variable

In [46]:
removed_or_popped_item                                   # last item has been popped again by the above command

'SIX'

In [47]:
new_list

[786, 'two', 'three', 'four', 'five']

In [48]:
new_list.pop(0)                       # assigning in parenthesis to remove the particluar item in the list

786

In [49]:
stringg_list = ['a', 'b', 'd', 'u', 't', 'r']
numb_list = [1,5,2,8]

In [50]:
stringg_list.sort()

In [51]:
stringg_list

['a', 'b', 'd', 'r', 't', 'u']

can not assign sort to new variable, it will return None

In [52]:
my_sorted_list = stringg_list.sort()

In [53]:
my_sorted_list

didn't return anything

In [54]:
type(my_sorted_list)

NoneType

it shows that my_sorted_list is a none type

#

what we can do is give a name to the sorted list in another line

In [55]:
numb_list.sort()

In [56]:
my_sorted_numb_list = numb_list

In [57]:
my_sorted_numb_list                  # now the list name after sorting is changed,       but doesn't work with direct assignment

[1, 2, 5, 8]

In [58]:
numb_list.reverse()

In [59]:
numb_list

[8, 5, 2, 1]

#bchxd