 sets are unordered collection of unique elements. sets can not have same elements more than once

In [1]:
myset = set()

In [2]:
myset

set()

In [3]:
myset.add(1)

In [4]:
myset

{1}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [7]:
myset.add(2)               # even I tried to put 2 again in set, it shows only one time, means it takes only unique values

In [8]:
myset

{1, 2}

In [10]:
mylist = [2,5,1,5,5,5,5,2,1,1,2,8,9,6,4,7,3,3,3,3,4,4,7,7,8]

In [11]:
set(mylist)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

even though it is showing here ordered, sets are not ordered collection. it might be because the set is very small.